body{ font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
h1{font-size: 50;}
.name-highlight{
    color: red;
}
.button1 { font-family: bold;
    font-style: inherit;
    color: salmon;
}
