body{ font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
h1{font-size: 80;}
.name-highlight{
    color: red;
    font-size: 80;
}
.button1 { font-family: bold;
    font-style: inherit;
    color: salmon;
}
.half-width{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
    padding-top: 5%;
}
.half-width img{
    width: 70%;
}
.full-banner{ background-image: url(/bg.jpg);
    background-repeat: no-repeat;

}
section{
    height: 500px;
}